button {
    padding: .5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #4E60FF;
    border: none;
    border-radius: 5px;
    width: 100%;
    transition: 300ms ease-in-out;
}
button:hover {
    color: #4E60FF;
    background-color: #fff;
    border: solid 2px #4E60FF;
}